#app1 {
    display: flex;
    border: 1px solid red;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }

#jjcc{
    position: relative;
    display: flex;
    margin-left: -10px;
}
#jjcc>button{
    font-size: 50px;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

#jjcc>span{
    position: absolute;
    margin-top: -40px;
}
#shuZi{
    position: absolute;
    margin-top: -130px;
    margin-left: 200px;
    font-size: 20px;
    border: 2px solid green;
}

#jia{
    position: absolute;
    margin-left: 45px;
}


#jian{
    position: absolute;
    margin-left: 155px;
}


#cheng{
    position: absolute;
    margin-left: 265px;
}

#chu{
    position: absolute;
    margin-left: 375px;
}
